/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2021, 10:38:45 AM
    Author     : hp
*/



.sp{    
    
    -fx-background-color: #2a3950;
}



.minimizebtn{
    
      -fx-background-color: #2e87c5;    
}

.closebtn{
    
      -fx-background-color: #2e87c5;            
}

.minimizebtn:hover{
    
      -fx-background-color: #2A3950;    
}

.closebtn:hover{
    
      -fx-background-color: #2A3950;      
}

.top-one{
    
    
      -fx-background-color: #0b7fb9;
      
}



.Menu{
    
      -fx-background-color: #2a3950;
      -fx-border-color: #006070; 
      -fx-border-width:3px;
      
}

.Pages{
    
      -fx-background-color: #2a3950;    
}


.imgview{
    
   -fx-padding: 50px;
    -fx-border-insets: 50px;
    -fx-background-insets: 50px;    
}



.pane{
    -fx-background-color: #0279B4; 
    -fx-text-fill: white;
    
}

.columnID{
    -fx-text-fill: white;
    -fx-border-color: white; 
    -fx-background-color: #0279B4; 
}

.columnfn{
    -fx-text-fill: white;
    -fx-border-color: white; 
    -fx-background-color: #0279B4; 
}


.tableView{
    -fx-text-fill: white;
    -fx-border-color: white; 
    -fx-background-color: #0279B4; 
}




.homebtn {
    -fx-background-color: #2a3950; 
    -fx-text-fill: white;
    -fx-border-color: white; 
    -fx-border-radius: 5px;
    
}


.homebtn:hover {
      -fx-background-color: #0279B4; 
    -fx-text-fill: white;    
    -fx-border-radius: 5px;
}

.homebtn:selected {
      -fx-background-color: red; 
    -fx-text-fill: white;    
    -fx-border-color: white; 
    -fx-border-radius: 5px;
}


.employeebtn {
   -fx-background-color: #2a3950; 
    -fx-text-fill: white;
     -fx-border-color: white; 
      -fx-border-radius: 5px;
}

.employeebtn:hover {
      -fx-background-color: #0279B4; 
    -fx-text-fill: white;    
    -fx-border-radius: 5px;
}

.financbtn {
     -fx-background-color: #2a3950; 
    -fx-text-fill: white;
    -fx-border-color: white;
     -fx-border-radius: 5px;
}

.financbtn:hover {
      -fx-background-color: #0279B4; 
    -fx-text-fill: white;    
    -fx-border-radius: 5px;
}

.configbtn {
    -fx-background-color: #2a3950;    
    -fx-text-fill: white;
    -fx-border-color: white;
     -fx-border-radius: 5px;
}

.configbtn:hover {
      -fx-background-color: #0279B4; 
    -fx-text-fill: white;    
    -fx-border-radius: 5px;
}

.leavebtn {
      -fx-background-color: #2a3950; 
    -fx-text-fill: white;
    -fx-border-color: white;
     -fx-border-radius: 5px;
     
}

.leavebtn:hover {
      -fx-background-color: #0279B4; 
    -fx-text-fill: white;    
    -fx-border-radius: 5px;
}